In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/coooodek/requestLog/refs/heads/main/dataset/requestLog.csv')
df.head(2)

     기술검토번호               요청일 제품그룹 Location  담당자
0  ME25-636  2025-11-18 16:26    A       국내  김*민
1  ME25-635  2025-11-18 14:39    B       국내  김*민

In [3]:
# 요청일 컬럼 object -> datetime

df['요청일'] = pd.to_datetime(df.요청일)

In [4]:
# 분기 컬럼 생성

df['분기'] = df['요청일'].dt.quarter

In [5]:
# 연도 컬럼 생성

df['연도'] = df['요청일'].dt.year

In [6]:
# 요청일 기준 중복 접수 건 삭제

df = df.drop_duplicates(subset = ['요청일'])

In [ ]:
# 제품그룹별 / 전체 접수 건 대비 비율 계산 (ETC로 그룹화 전)

df['접수비율'] = df['제품그룹'].map(df['제품그룹'].value_counts(normalize = True)*100)

In [35]:
df['접수비율'].value_counts()

접수비율
19.645233    886
16.873614    761
10.620843    479
10.022173    452
7.671840     346
6.075388     274
5.587583     252
5.210643     235
4.079823     184
3.902439     176
2.505543     113
2.283814     103
1.529933      69
1.374723      62
1.308204      59
0.687361      31
0.221729      10
0.133038       6
0.110865       5
0.088692       4
0.066519       3
Name: count, dtype: int64

In [41]:
df.loc[df['접수비율'] < 0.5, '제품그룹'] = 'ETC' # 0.5% 미만 접수 건 ETC로 분류

In [42]:
df[df.제품그룹 == 'ETC']

        기술검토번호                 요청일 제품그룹 Location  담당자  분기    연도      접수비율
146   ME25-477 2025-08-07 14:53:00  ETC       국내  권*태   3  2025  0.088692
167   ME25-455 2025-07-24 10:02:00  ETC       국내  박*호   3  2025  0.088692
270   ME25-347 2025-06-09 11:30:00  ETC       국내  남*모   2  2025  0.133038
377   ME25-237 2025-04-17 10:33:00  ETC       국내  노*경   2  2025  0.133038
414   ME25-197 2025-04-02 15:31:00  ETC       수출  노*경   2  2025  0.066519
445   ME25-162 2025-03-24 11:48:00  ETC       국내  노*경   1  2025  0.133038
608   ME24-647 2024-12-31 15:06:00  ETC       국내  노*경   4  2024  0.133038
2039  ME22-634 2022-11-29 17:15:00  ETC       국내  이*호   4  2022  0.221729
2166  ME22-502 2022-09-21 10:38:00  ETC       국내  박*호   3  2022  0.221729
2440  ME22-218 2022-05-02 17:07:00  ETC       국내  유*훈   2  2022  0.066519
2500  ME22-157 2022-04-04 14:53:00  ETC       국내  이*호   2  2022  0.221729
2587  ME22-070 2022-02-11 14:30:00  ETC       국내  이*호   1  2022  0.221729
2869  ME21-444 2021-08-13 14:46:00  ETC       국내  이*영   3  2021  0.066519
3041  ME21-261 2021-05-17 10:26:00  ETC       국내  김*민   2  2021  0.110865
3159  ME21-135 2021-03-23 14:51:00  ETC       국내  박*호   1  2021  0.088692
3238  ME21-053 2021-02-04 09:41:00  ETC       국내  이*영   1  2021  0.221729
3415  ME20-520 2020-10-21 17:41:00  ETC       국내  박*호   4  2020  0.088692
3577  ME20-356 2020-07-14 09:15:00  ETC       국내  김*민   3  2020  0.110865
3742  ME20-185 2020-04-08 16:16:00  ETC       국내  김*민   2  2020  0.133038
3844  ME20-081 2020-02-21 09:12:00  ETC       국내  박*호   1  2020  0.133038
3968  ME19-645 2019-11-28 10:03:00  ETC       수출  김*민   4  2019  0.221729
4007  ME19-601 2019-11-07 17:54:00  ETC       국내  이*훈   4  2019  0.110865
4078  ME19-529 2019-10-08 16:11:00  ETC       국내  유*훈   4  2019  0.110865
4228  ME19-368 2019-06-28 08:05:00  ETC       수출  유*훈   2  2019  0.221729
4233  ME19-363 2019-06-27 08:58:00  ETC       국내  김*민   2  2019  0.221729
4275  ME19-320 2019-06-05 07:48:00  ETC       국내  이*영   2  2019  0.110865
4385  ME19-209 2019-04-15 08:19:00  ETC       국내  이*훈   2  2019  0.221729
4452  ME19-139 2019-03-12 17:26:00  ETC       수출  이*호   1  2019  0.221729

In [ ]:
df.제품그룹.unique() # N,P,Q,T,U -> ETC

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'I', 'J', 'K', 'L', 'M', 'H',
       'ETC', 'O', 'R', 'S'], dtype=object)

In [ ]:
# 제품그룹별 / 전체 접수 건 대비 비율 계산 (ETC로 그룹화 후)

df['접수비율'] = df['제품그룹'].map(df['제품그룹'].value_counts(normalize = True)*100)

In [63]:
df[df['제품그룹'] == 'ETC'].head()

       기술검토번호                 요청일 제품그룹 Location  담당자  분기    연도      접수비율
146  ME25-477 2025-08-07 14:53:00  ETC       국내  권*태   3  2025  0.620843
167  ME25-455 2025-07-24 10:02:00  ETC       국내  박*호   3  2025  0.620843
270  ME25-347 2025-06-09 11:30:00  ETC       국내  남*모   2  2025  0.620843
377  ME25-237 2025-04-17 10:33:00  ETC       국내  노*경   2  2025  0.620843
414  ME25-197 2025-04-02 15:31:00  ETC       수출  노*경   2  2025  0.620843

In [64]:
df = df.drop(columns = '접수비율')

In [76]:
display(df.head(1))
display(df.info())
display(df.isnull().sum())

     기술검토번호                 요청일 제품그룹 Location  담당자  분기    연도
0  ME25-636 2025-11-18 16:26:00    A       국내  김*민   4  2025

<class 'pandas.core.frame.DataFrame'>
Index: 4510 entries, 0 to 4583
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   기술검토번호    4510 non-null   object
 1   요청일       4510 non-null   datetime64[ns]
 2   제품그룹      4510 non-null   object
 3   Location  4510 non-null   object
 4   담당자       4510 non-null   object
 5   분기        4510 non-null   int32
 6   연도        4510 non-null   int32
dtypes: datetime64[ns](1), int32(2), object(4)
memory usage: 375.7+ KB

None

기술검토번호      0
요청일         0
제품그룹        0
Location    0
담당자         0
분기          0
연도          0
dtype: int64

In [78]:
df.to_csv('processed_data.csv', index = False, encoding = 'utf-8-sig')